SG_API_KEY=change-me
AWS_REGION=af-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SG_COLLECTION_AUTHORIZED=hv-siteguard-authorized
SG_COLLECTION_BLACKLISTED=hv-siteguard-blacklisted
SG_TABLE=siteguard_events
SG_AUTHORIZED_THRESHOLD=85
SG_BLACKLIST_THRESHOLD=90
SG_QUEUE_PATH=./siteguard-queue.json
